.roomList a {
    color: #AAA;
}

#roomPanel-button {
  float: right;
  margin-right: 200px;
  background-color: #5BC4BE;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin-top: 2px;
}

#roomPanel-button:hover {
  cursor: pointer;
  background-color: #3B8D86;
}